h1{
    color: blue;
}
p.underline{
    text-decoration-line: underline;
}
table,th,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td{
    text-align: center;
}
.footnote{
    color: gray;
    font-size: 14px;
}
hr.up{
    height:10px;
    border:none;
    border-top:10px groove skyblue;
}
hr.down{
    height:10px;
    border:none;
    border-top:10px ridge skyblue;
}