h1{
    color: blue;
}
p.underline{
    text-decoration-line: underline;
}
table,th,td{
    border: 1px solid black;
}
table{
    border-collapse: collapse;
}
td{
    text-align: center;
}
p.footnote{
    color: gray;
    font-size: 14px;
}