.title,.content{
    text-align: justify;
    width: 48%;
    float: left;
}
.title{
    position: relative;
    left: 2px;
}
.content{
    position: relative;
    left: 5px;
    border-left: solid greenyellow;
    margin: 0px 15px;
    padding-left: 10px;
}
.part{
    border-style: solid;
    border-color: greenyellow;
    border-bottom: 0px;
    position: relative;
    left: 5%;
    width: 90%;
    overflow: hidden;
}
#saka-gui-root{
    display: none;
}
img{
    width: 500px;
}
#last{
    border-bottom: 3px solid greenyellow;
}
.footnote{
    font-size: 14px;
    font-family: STKaiti;
    margin: 0px;
    position: relative;
    left: 7px;
}